@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar-datetime-picker {
  flex-grow: 1;
}

.react-calendar-datetime-picker input {
  padding: 1rem !important;
}

#circle-grade {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background: conic-gradient(lightgreen var(--progress), gray 0deg);
  font-size: 0;
}

#circle-grade::after {
  content: attr(data-progress) "/" attr(data-total-score);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  border-radius: 50%;
  background: white;
  font-size: 2rem;
  text-align: center;
}
